attrs==21.4.0
awslambdaric==2.0.4
certifi==2022.5.18.1
clldutils==3.12.0
colorlog==6.6.0
csvw==2.0.0
dlinfo==1.2.1
isodate==0.6.1
joblib==1.1.0
phonemizer==3.2.1
python-dateutil==2.8.2
regex==2022.6.2
rfc3986==1.5.0
segments==2.2.0
simplejson==3.17.2
six==1.16.0
tabulate==0.8.9
typing_extensions==4.2.0
uritemplate==4.1.1
